  <aside
    class="ml-[-100%] fixed z-10 top-0 pb-3 px-6 w-full flex flex-col justify-between h-screen border-r bg-white transition duration-300 md:w-4/12 lg:ml-0 lg:w-[20%] xl:w-[35%] 2xl:w-[19%]">
    <div>
      <div class="mt-8 text-center">
        <img src="./assets/images/oms.png" alt="" class="w-10 h-10 m-auto rounded-full object-cover lg:w-28 lg:h-28">
        <h5 class="hidden mt-4 text-xl font-semibold text-gray-600 lg:block">Order Management System</h5>
      </div>
      <div class="main-nav">
        <ul class="space-y-2 tracking-wide mt-8">
          <li>
            <a routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a>
          </li>
          <li>
            <a routerLink="/completedorders" routerLinkActive="active-link">Completed Orders</a>
          </li>
          <li> <a routerLink="/orders" routerLinkActive="active-link">New Orders</a>
          </li>
        </ul>
      </div>
    </div>
  </aside>